<div class="form-data">
    <form class="form-signin" action="<%= `/courses/${course._id}/update?_method=PUT`%>" method="POST">
        <h2 class="form-signin-heading">Edit Course: </h2>
        <br>
        <label for="txtTitle">Title: </label>
        <input class="form-control" type="text" name="title" id="txtTitle" value="<%= course.title %>" autofocus required>
        <br>
        <label for="txtDescription">Description: </label>
        <input class="form-control" type="text" name="description" id="txtDescription" value="<%= course.description %>" required>
        <br>
        <label for="txtMaxStudents">Max Students: </label>
        <input class="form-control" type="text" name="maxStudents" id="txtMaxStudents" value="<%= course.maxStudents %>" required>
        <br>
        <label for="txtCost">Cost: </label>
        <input class="form-control" type="text" name="cost" id="txtCost"  value="<%= course.cost %>"required>
        <br>
        <button class="btn btn-lg btn-block button" type="submit">Edit</button>
    </form>
</div>